<div class= "about">
  <div class="about_inner_div col-xs-10 col-xs-offset-1">

    <h1>About Star Quotes</h1>

    <p>
      Star Quotes was built by <a target="_blank" href="https://github.com/tohyung85">Joshua</a> as part of his Journey to become a programmer.
    </p>
    <p>
      I learnt it from the <a target="_blank" href="http://www.thefirehoseproject.com">Firehose Project</a>! You can do it too!
    </p>

    <br />
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <h2 class="text-center">Joshua Tan</h2>
      <br/>
      <p>
        Joshua Tan is an engineer aspiring to be a professional web developer! Any support and feedback would be much appreciated!
      </p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= image_tag 'joshua.jpg', class: 'img-responsive profile_image' %>
    </div>

    <br class="clear"/>
    <br />
    <br />
    <br />
    <br />

  </div>
</div>